@import url("../../styles/global.css");
@import url("../../styles/investiments.css");

form {
  flex-direction: row;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div + div {
  margin-left: 50px;
}
